<div class="page_section-inner">
    <div class="page_section-content container">
        <div class="cart_main-wrapper">
            <div class="page_section-bd cart_main-bd pages-wrapper-v">
                <div class="pages-heading">
                    <div class="inner">
                        <h2 class="cart_main-heading-title">
                            <span class="image_replacement image_replacement-login text-hide" style="background-image: url({{IMG_PATH}}image_replacement-shopping_cart.svg)">
                                SHOPPING CART
                            </span>
                            <div class="txt">購物車</div>
                        </h2>
                    </div>
                </div>
                <div class="pages-wrapper-v-pattern"></div>
                <div class="pages-main">
                    <div class="inner account-wrapper">
                        <ul class="account-links-list lis-n">
                            <li class="account-links-item">
                                <a href="cart.php" class="link {{PROJECT_NAME}}_btn {{PROJECT_NAME}}_btn-style1">一般購物車(5)</a>
                            </li>
                            <li class="account-links-item js-active">
                                <a href="cart-pre-order.php" class="link {{PROJECT_NAME}}_btn {{PROJECT_NAME}}_btn-style1">預購購物車(2)</a>
                            </li>
                        </ul>
                        <div class="account-container">
                            <div class="shopping_list-heading">
                                <h3 class="title">訂購商品列表</h3>
                            </div>
                            <div class="shopping_list-wrapper">
                                <div class="shopping_list-table cart_table">
                                    <div class="table_heading">
                                        <div class="table_cell cart_table-name" data-ref="品名">品名</div>
                                        <div class="table_cell cart_table-price" data-ref="單價">單價</div>
                                        <div class="table_cell cart_table-quantity" data-ref="數量">數量</div>
                                        <div class="table_cell cart_table-subtotal" data-ref="小記">小記</div>
                                        <div class="table_cell cart_table-action" data-ref="操作">&nbsp;</div>
                                    </div>
                                    {% for i in range(0, 5) %}
                                        <div class="table_row">
                                            <div class="table_cell cart_table-name" data-ref="品名">
                                                <div class="cart_pdt">
                                                    <div class="pdt_img">
                                                        <div class="img_div">
                                                            <img src="{{IMG_PATH}}image-1.jpg" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="pdt_name">
                                                    桃園青埔｜Xpark 都會型水生公園門票
                                                </div>
                                                </div>
                                            </div>
                                            <div class="table_cell cart_table-price" data-ref="單價">$550</div>
                                            <div class="table_cell cart_table-quantity" data-ref="數量">
                                                <div class="cart_quantity">
                                                    {% set fieldSet = {
                                                        "field_class": "quantity_field",
                                                        "id": "quantity_field-" + i,
                                                        "name": "quantity-" + i,
                                                        "isRequired": 0,
                                                        "label": "數量",
                                                        "IMG_PATH": IMG_PATH
                                                    } %}
                                                    {{field.quantity(PROJECT_NAME, fieldSet)}}
                                                </div>
                                            </div>
                                            <div class="table_cell cart_table-subtotal" data-ref="小記">$550</div>
                                            <div class="table_cell cart_table-action" data-ref="操作">
                                                <button type="button" class="del_btn">
                                                    <svg class="svgicon" data-src="{{IMG_PATH}}icons/icon-del.svg"></svg>
                                                </button>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="cart_table-total_row">
                                <div class="cart_table-total_row-inner">
                                    <ul class="cart_table-total_row-list lis-n">
                                        <div class="cart_table-total_row-item">
                                            <div class="title">合計</div>
                                            <div class="txt">NT$ 2,750</div>
                                        </div>
                                        <div class="cart_table-total_row-item">
                                            <div class="title">運費</div>
                                            <div class="txt">NT$ 0</div>
                                        </div>
                                    </ul>
                                    <div class="cart_table-total_row-total">
                                        <div class="title">總金額</div>
                                        <div class="txt txt-danger">NT$ 2,750</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pages-wrapper-v-pattern"></div>
                <div class="pages-main">
                    <div class="inner shopping_base-wrapper">
                        <div class="shopping_base-heading">
                            <h3 class="title">訂購資訊</h3>
                        </div>
                        <div class="shopping_base-wrapper">
                            <div class="shopping_base-main">
                                <form action="" class="{{PROJECT_NAME}}_frm cart_frm" method="POST">
                                    <div class="form-group">
                                        {% set fieldSet = {
                                        field_class: PROJECT_NAME + "_field-v",
                                        name: "shipping_name",
                                        isRequired: 1,
                                        label: "收件人",
                                        placeholder: "請輸入收件人名稱",
                                        value: "收件人名稱"}%}
                                        {{ field.input(PROJECT_NAME, fieldSet) }}
                                        {% set fieldSet = {
                                        field_class: PROJECT_NAME + "_field-v",
                                        name: "shipping_phone",
                                        isRequired: 1,
                                        label: "收件人電話",
                                        placeholder: "請輸入收件人電話",
                                        value: "02-55751900"}%}
                                        {{ field.input(PROJECT_NAME, fieldSet) }}
                                    </div>
                                    <div class="form-group">
                                        {% set fieldSet = {
                                        field_class: PROJECT_NAME + "_field-v",
                                        name: "shipping_addr",
                                        isRequired: 1,
                                        label: "收件人地址",
                                        placeholder: "請輸入收件人地址",
                                        value: "新北市板橋區新府路66號2樓"}%}
                                        {{ field.input(PROJECT_NAME, fieldSet) }}
                                    </div>
                                    <div class="form-group">
                                        <div class="{{PROJECT_NAME}}_rcx-wrap {{PROJECT_NAME}}_rcx-wrap-v required">
                                            <div class="{{PROJECT_NAME}}_rcx-wrap-label">發票類型</div>
                                            <div class="{{PROJECT_NAME}}_rcx-wrap-field">
                                                {% set fieldSet = {
                                                    id: "invoice_type_1",
                                                    nameArr: "invoice_type[]",
                                                    text: "二聯式發票"}%}
                                                {{ field.rcx(PROJECT_NAME, fieldSet) }}
                                                {% set fieldSet = {
                                                    id: "invoice_type_2",
                                                    nameArr: "invoice_type[]",
                                                    text: "三聯式發票"}%}
                                                {{ field.rcx(PROJECT_NAME, fieldSet) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {% set fieldSet = {
                                        field_class: PROJECT_NAME + "_field-v",
                                        name: "shipping_invoice_title",
                                        isRequired: 1,
                                        label: "發票抬頭",
                                        placeholder: "請輸入發票抬頭",
                                        value: "彭氏國際企業有限公司"}%}
                                        {{ field.input(PROJECT_NAME, fieldSet) }}
                                        {% set fieldSet = {
                                        field_class: PROJECT_NAME + "_field-v",
                                        name: "shipping_invoice_taxid",
                                        isRequired: 1,
                                        label: "發票統編",
                                        placeholder: "請輸入發票統編",
                                        value: "69618541"}%}
                                        {{ field.input(PROJECT_NAME, fieldSet) }}
                                    </div>
                                    <div class="form-group">
                                        {% set fieldSet = {
                                        field_class: PROJECT_NAME + "_field-v",
                                        name: "shipping_invoice_addr",
                                        isRequired: 1,
                                        label: "發票寄送地址",
                                        placeholder: "請輸入發票寄送地址",
                                        value: "新北市板橋區新府路66號2樓"}%}
                                        {{ field.input(PROJECT_NAME, fieldSet) }}
                                    </div>
                                    <div class="form-group">
                                        {% set fieldSet = {
                                        field_class: PROJECT_NAME + "_field-v recaptcha_field",
                                        name: "recaptcha",
                                        isRequired: 1,
                                        label: "驗證碼",
                                        placeholder: "請輸入驗證碼"}%}
                                        {{ field.recaptcha(PROJECT_NAME, fieldSet) }}
                                    </div>
                                    <div class="form-btns">
                                        <button type="submit" class="{{PROJECT_NAME}}_btn {{PROJECT_NAME}}_btn-Pri">
                                            確認結帳
                                            <svg class="svgicon" data-src="{{IMG_PATH}}icons/icon-more-arrow-2.svg"></svg>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.page_section-inner -->