// > font family
$normal_font: PingFang TC, "Microsoft JhengHei", "微軟正黑體", "蘋果儷中黑", \5FAE\x8F6F\6B63\9ED1\4F53, Arial, "Helvetica Neue", Helvetica;
$NotoSansTC: 'Noto Sans TC', sans-serif;
$NotoSansJP: 'Noto Sans JP', sans-serif;
$NotoSerifTC: 'Noto Serif TC', serif;
$NotoSerifJP: 'Noto Serif JP', serif;
// $NotoSansTC: "Noto Sans TC", "蘋果儷中黑", "Microsoft JhengHei", "微軟正黑體", \5FAE\x8F6F\6B63\9ED1\4F53, Arial, "Helvetica Neue", Helvetica;
$YaHei: "Microsoft YaHei UI", "微軟正黑體", "蘋果儷中黑", \5FAE\x8F6F\6B63\9ED1\4F53, Arial, "Helvetica Neue", Helvetica;

$PingFang: "Noto Sans CJK TC", "Microsoft JhengHei", PingFang, STHeiti, sans-serif, serif;

$EightOne: eight_oneregular, Arial;

$Judson: 'Judson', serif;
$Catamaran: 'Catamaran',  sans-serif;
$Charmonman: 'Charmonman', cursive;

