// > shadow
$z-depth-1:          0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !default;
$z-depth-1-half:     0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !default;
$z-depth-2:          0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !default;
$z-depth-3:          0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19) !default;
$z-depth-4:          0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21) !default;
$z-depth-5:          0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22) !default;

$boxShadow: 0px 9px 21px rgba(0, 0, 0, 0.75);
$boxShadowHover: 3px 10px 21px rgba(0, 0, 0, 1);
$boxShadowHover1: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);

$boxShadowActive1: 0 3px 7px 0 rgba(0, 0, 0, 0.58), 0 2px 9px 0 rgba(0, 0, 0, 0.55);

$boxShadow-weak: 0px 3px 3px rgba(#454C54, 0.2);
// $cntWrapBoxShadow: 0px 1px 3px rgba(#000, 0.2);


// > project <
$boxShadow: (
    "default": 0px 5px 10px rgba(129, 129, 129, 0.15),
    "hover": 0px 20px 30px rgba(129, 129, 129, 0.15),
    "reverse": 0px -5px 10px rgba(120, 95, 73, 0.2)
);

$dropShadow: (
    "default": 10px 10px 10px rgba(#454C54, 0.1),
    "hover": 10px 30px 30px rgba(#454C54, 0.1),
    "inner": inset 0px 10px 30px rgba(color("Gray-04"), 0.1),
    "Btn-default":  0px 8px 20px rgba(color("Pri"), 0.5)
);


@function dropShadow($key) {
    @if map-has-key($dropShadow, $key) {
        @return map-get($dropShadow, $key);
    }

    @warn "Unkown '#{$key}' in $dropShadow. (src\\sass\\variable\\_shadow.scss)";
    @return null;
}

