<div class="page_section-inner">
    <div class="page_section-content container">
        <div class="account_shopping_record_list_main-wrapper">
            <div class="page_section-bd account_shopping_record_list_main-bd pages-wrapper-v">
                <div class="pages-heading">
                    <div class="inner">
                        <h2 class="account_shopping_record_list_main-heading-title">
                            <span class="image_replacement image_replacement-login text-hide" style="background-image: url({{IMG_PATH}}image_replacement-account.svg)">
                                ACCOUNT
                            </span>
                            <div class="txt">會員專區</div>
                        </h2>
                    </div>
                </div>
                <div class="pages-wrapper-v-pattern"></div>
                <div class="pages-main">
                    <div class="inner account-wrapper">
                        <ul class="account-links-list lis-n">
                            <li class="account-links-item">
                                <a href="account_memberinfo.php" class="link {{PROJECT_NAME}}_btn {{PROJECT_NAME}}_btn-style1">會員資料修改</a>
                            </li>
                            <li class="account-links-item">
                                <a href="account_change_pw.php" class="link {{PROJECT_NAME}}_btn {{PROJECT_NAME}}_btn-style1">會員密碼修改</a>
                            </li>
                            <li class="account-links-item js-active">
                                <a href="account_shopping_record_list.php" class="link {{PROJECT_NAME}}_btn {{PROJECT_NAME}}_btn-style1">購物記錄</a>
                            </li>
                        </ul>
                        <div class="account-container">
                            <div class="shopping_record_list-table">
                                <div class="table_heading">
                                    <div class="table_cell" data-ref="訂購單號">訂購單號</div>
                                    <div class="table_cell" data-ref="訂購日期">訂購日期</div>
                                    <div class="table_cell" data-ref="總金額">總金額</div>
                                    <div class="table_cell" data-ref="操作">&nbsp;</div>
                                </div>
                                {% for i in range(0, 10) %}
                                <div class="table_row">
                                    <div class="table_cell" data-ref="訂購單號">zxc20230223123</div>
                                    <div class="table_cell" data-ref="訂購日期">2023.02.23</div>
                                    <div class="table_cell" data-ref="總金額">$2,750</div>
                                    <div class="table_cell" data-ref="操作">
                                        <a href="account_shopping_record_detail.php" class="{{PROJECT_NAME}}_btn {{PROJECT_NAME}}_btn-style1 small_btn">訂單明細</a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {{components.pagination(PROJECT_NAME, IMG_PATH)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.page_section-inner -->