{% set page_title = "購物記錄明細" %}
{% set page_class = "page-account_shopping_record_detail" %}
{% extends "layout.njk" %}

{% block content %}
    <!-- =========================================================================-->
    <!-- 頁面內容  START-->
    <!-- =========================================================================-->
    <main class="page_main {{ page_class }}">
        {% set section_name = "account_shopping_record_detail_main" %}
        <section class="page_section {{section_name}}">
            {% include "../pages_templates/member/" + section_name + ".njk" %}
        </section>

    </main>

    <!-- /.page_main END  !! -->
    <!-- =========================================================================-->
    <!-- 頁面內容  END  !!-->
    <!-- =========================================================================-->

{% endblock %}

{% block page_script %}
{% endblock %}