.toggle_password_btn {
    border: none;
    background-color: transparent;
    transition: $transition-base;
    border-radius: 0 8px 8px 0;
    color: color("Gray-04");
    &:hover {
        background-color: color("Gray-01");
    }
}