.account-wrapper {
    display: flex;
    flex-direction: column;
    gap: 71px;
}
.account-links {
    &-list {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 24px;

        @include media-down(768) {
            flex-direction: column;
        }
    }
    &-item {
        flex: 0 1 auto;
    }
}

