<div class="page_section-inner">
    <div class="page_section-content">
        <div class="home_ads-wrapper">
            <div class="page_section-bd home_ads-bd">
                <ul class="home_ads-list lis-n">
                    <li class="home_ads-item">
                        <a href="javascript:;" class="link">
                            <div class="img_div"><img src="{{IMG_PATH}}img_ad-1.jpg" alt=""></div>
                        </a>
                    </li>
                    <li class="home_ads-item">
                        <a href="javascript:;" class="link">
                            <div class="img_div"><img src="{{IMG_PATH}}img_ad-2.jpg" alt=""></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /.page_section-inner -->