
.site_logo {
	@include absolute(0, $L:12);
	height: 100%;

	transition: $transition-base;


	&-link {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;

		img {
			@include wh($webLogo-w, $webLogo-h);
			@include media-down(576) {
				@include wh(130, 38);
			}
		}
	}

}