<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    window.jQuery || document.write('<script src="assets/js/libs/jquery.min.js"><\/script>')
</script>
<script src="assets/js/libs/plugin_mix.js"></script>
<script type="text/javascript" src="https://unpkg.com/external-svg-loader@1.3.1/svg-loader.min.js" async></script>

{% if PLUGINS.gsap %}
<!-- gsap -->
<script src="assets/plugins/gsap/gsap.min.js"></script>
<script src="assets/plugins/gsap/CSSRulePlugin.min.js"></script>
<script src="assets/plugins/gsap/ScrollTrigger.min.js"></script>
<script src="assets/plugins/gsap/ScrollToPlugin.min.js"></script>
{% endif %}

{% if PLUGINS.simplebar %}
<!-- simplebar -->
<script src="public/plugins/simplebar/simplebar.js"></script>
{% endif %}
{% if PLUGINS.swiper %}
{# <!-- swiper --> #}
{# <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script> #}
{% endif %}
{% if PLUGINS.flatpickr %}
<!-- flatpickr -->
<script src="https://npmcdn.com/flatpickr/dist/flatpickr.min.js"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/zh-tw.js"></script>
{% endif %}
{% if PLUGINS.select2 %}
<!-- select2 -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endif %}

<script src="https://validatejs.org/validate.js"></script>

<!-- script -->
<script src="{{JS_PATH}}script.js?v={{ VERSION }}"></script>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v15.0" nonce="0KQ5ZY2g"></script>