// @mixin txtStroke($w, $color) {
//     // text-shadow:
//     // 0 0 $color,
//     // 0 #{$w}px $color,
//     // 0 -#{$w}px $color,
//     // #{$w}px 0 $color,
//     // #{$w}px #{$w}px $color,
//     // #{$w}px -#{$w}px $color,
//     // -#{$w}px 0 $color,
//     // -#{$w}px #{$w}px $color,
//     // -#{$w}px -#{$w}px $color;
//     filter: 
//         drop-shadow( 0 #{$w}px 0px $color )
//         drop-shadow( 0 -#{$w}px 0px $color )
//         drop-shadow( #{$w}px 0 0px $color )
//         drop-shadow( -#{$w}px 0 0px $color )
//     ;
// }

/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {List}            - text-shadow list
@function stroke($stroke, $color) {
    $shadow: ();
    $from: $stroke*-1;
    @for $i from $from through $stroke {
     @for $j from $from through $stroke {
        $shadow: append($shadow, $i*1px $j*1px 0 $color, comma);
      }
    }
    @return $shadow;
  }
  /// Stroke font-character
  /// @param  {Integer} $stroke - Stroke width
  /// @param  {Color}   $color  - Stroke color
  /// @return {Style}           - text-shadow
@mixin txt_stroke($stroke, $color) {
    text-shadow: stroke($stroke, $color);
}